* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family:"Verdana","Tahoma","Geneva",sans-serif;
    color: #555;
} /*CSS RESET*/

#canvas {
    /*border: 1px solid black;*/
    /*width: 100%;*/
    /*height: 100%;*/
}